body{
  text-align: center;
  font-size: 500%;
  margin-top:20%;
}
a{
  padding: 0px 20px;
  border: 2px solid gray;
  border-radius: 20px;
  color:gray;
  background:lightgray;
  text-decoration: none;
}
a:hover{
  background:lightgreen
}
