<html>
<head>
  <title>NationSelector-HoI4</title>
  <link rel="stylesheet" type="text/css" href="../stylesheets/select.css">
</head>
<body>
  <h1>条件選択</h1>
  <form method="post" action="/result">
    <h2>地域</h2>
    <input type="radio" name="area" value=1 />北アメリカ
    <input type="radio" name="area" value=2 />中央アメリカ・カリブ海
    <input type="radio" name="area" value=3 />南アメリカ
    <input type="radio" name="area" value=4 />アフリカ
    <input type="radio" name="area" value=5 />ヨーロッパ
    <input type="radio" name="area" value=6 />東アジア・南アジア
    <input type="radio" name="area" value=7 />西アジア
    <input type="radio" name="area" value=8 />オセアニア・東南アジア
    <input type="radio" name="area" value=0 checked/>指定なし

    <h2>イデオロギー</h2>
    <input type="radio" name="ideology" value=1 />民主主義
    <input type="radio" name="ideology" value=2 />ファシスト
    <input type="radio" name="ideology" value=3 />共産主義
    <input type="radio" name="ideology" value=4 />中道
    <input type="radio" name="ideology" value=0 checked/>指定なし

    <h2>陣営</h2>
    <input type="radio" name="team" value=1 />連合国
    <input type="radio" name="team" value=2 />枢軸国
    <input type="radio" name="team" value=3 />コミンテルン
    <input type="radio" name="team" value=4 />無所属
    <input type="radio" name="team" value=0 checked/>指定なし

    <h2>海軍の有無</h2>
    <input type="radio" name="sea" value=1 />あり
    <input type="radio" name="sea" value=2 />なし
    <input type="radio" name="sea" value=0 checked/>指定なし

    <h2>国家方針</h2>
    <input type="radio" name="nf" value=1 />固有
    <input type="radio" name="nf" value=2 />汎用
    <input type="radio" name="nf" value=0 checked/>指定なし
    <br /><br />
    <input type="submit" value="決定" />


  </form>
</body>
</html>
